# =============== #
# Unity generated #
# =============== #
Life\ Lemons/Temp/
Life\ Lemons/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Life\ Lemons/ExportedObj/
Life\ Lemons/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
#*.meta
