# =============== #
# Unity generated #
# =============== #
Neon/Temp/
Neon/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Neon/ExportedObj/
Neon/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
#*.meta
#*.metadata
